* {
  box-sizing: border-box;
}

section {
    border: 1px solid #ccc;
    margin: 1px 30px;
    min-height: 915px; /* ? */
}

aside {
  /*border: 2px dashed purple;   */
  background: #ddd;
  width: 250px;
  /*height: 800px;*/
  float: left;
  margin-right: 20px;
  /*padding: 10px;*/
  font-size: small;
}

aside li, ul {
    list-style: none;
    padding: .2em;
}

aside h4 {
    padding-left: 6px;
    background-color: #694c45;
    color: #fff;
    padding: 6px;
    /*font-size: 17px;*/
    margin: 0;
}


article h2 {
  background-color: #1f0e0a;
  background-color: #421a1a;
  background-color: #694c45;
  color: #fff;
  margin-left: 270px;
  padding: 12px;
}

article {
    padding-right: 20px;
    font-size: small;
}


footer {
    margin: 1px 30px;
    min-height: 120px;
    padding: 10px;
    font-size: x-small;
    font-weight: bold;
}


.underwonder a {
    color: #ca3c08;
    color: blue;
    text-decoration: none;
    background-color: transparent;
}
/*******************************/
#headnav{
  width: 100%;
  clear: both;
  margin-left: 28px
}
#headnav a {
    color: #008B8B;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
#headnav > a:hover{
    text-decoration: underline #b22222;
}

/*******************************/
.underwonder{
    float: left;
    padding: 10px;
}
.underwonder a {
    line-height: 24px;
    position: relative;
}

.underwonder a::after {

    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: 1;
    -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    /*background: #000000;*/
    background: #b22222;
    content: "";
}
.underwonder a:hover::after {
  width: 100%;
  left: 0;
  right: auto; }

/***********************************/



a {
    color: #1f7a99;
    /*text-decoration: none;*/
}
/***********************************/

#poster {
    height: 385px;
    /*height: 100%;*/
    /*width: 100px;*/
  background-image: url(img/poster.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

#voight {
    /*width: 100%;*/
    /*float: right;*//*
    width: 60%;
  height: auto;
  margin-left: 270px;

  padding-right: 20px;
  float: right; */
}

.details {
    background-color: #ccc;
    padding: 10px
}
