* {
  box-sizing: border-box;
}

body {
  background-color: #519fa5;

}

hr {
  color: #0f4957;
}

.content {
  background-color: #17191b;
  color: white;
  border-radius: 5px;
  /*height: 520px;*/
  width: 360px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content table {
  margin: 0 auto;
}

.error {
  color: red;
}

.content div {
  text-align: center;
}

.hiddenForms {
  display: none;
  margin: 10px;
}

.hiddenForms fieldset {
  padding-left: 20px;
  border-color: #1b5050;
}

.hiddenForms fieldset legend{
  color: #7e9ba2;
}

th, td {
  padding: 2px 15px;
  text-align: left;
}

td {
  border-top: 1px dashed #742d2d;
}


#user-list {
  border-collapse: collapse;
}

#user-list td:first-child {
  padding: 1px;
  visibility: hidden;
  /*border: none;*/
}

th {
  background-color: #b22222;
  background-color: #003d51;
  border-bottom: 1px solid #de4306;
  color: white;
  /*background-color: #371608;*/
  /*background-color: #17191b;*/

}

#user-list img {
  width: 42px;
  height: 42px;
}

/************* loading spinner ************/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/************* loading ************/


/************* Buttons: ************/
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 7px 14px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.select {
  border: none;
  background-color: #9f2112;
  color: white;
  cursor: pointer;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.select:hover {
  background-color: #d45242;
}

.submit {background-color: #2196F3;} /* Blue */
.submit:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

